.hero{
	opacity: 0.8;
	margin-bottom: 40px;
	text-decoration: underline;
	font-family: 'Righteous', cursive;
}

.card{
	opacity: 0.7;
	background-color: #FFFFFF;
	font-family: 'IBM Plex Mono', monospace;
}

span.icon.is-medium{
	color: #B09E3C;
}

html, body{
	background-image: url(images/type.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	height: 100%;
}

/*font-family: 'IBM Plex Mono', monospace;
/*font-family: 'Righteous', cursive;